<!DOCTYPE html>
<html>
<head>
    <title>MoodSync</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
    <h1>MoodSync</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/capture">Capture</a>
    </nav>
</header>
<nav class="top-left-nav">
        <div class="nav-left">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/capture_page">Capture</a>
        </div>
        <div class="brand">MoodSync</div>
    </nav>
    
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        &copy; 2025 MoodSync | Made with ❤️ and rhythm
    </footer>
</body>
</html>
